section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-image: url("../img/BG.jpg");
    background-position: 60%;
}
#clock
{
    color: red;
    font-size: 25px;
}
#date 
{
    color: rgb(0, 0, 0);
    font-size: 25px;
    
}


